
.tweeter.logo {
  font-family: 'Bungee', sans-serif;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 1000;
}

.btn {
  font-family: 'Bungee', sans-serif;
  background-color: aqua;
  color: #FFFFFF;
}