.tweet-form {
  margin-bottom: 15px;
}

.tweet.button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter{
  font-family: 'Bungee', sans-serif;
  color: black;
  
}

.container {
  padding: 1.5em;
}

.bottom {
  display: flex;
  justify-content: space-between;
  
}

textarea {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
}

.over-alert {
  display: none;
  border: 2px solid red;
  padding: 15px;
  color: red;
  font-weight: bold;

}

.empty-alert {
  display: none;
  border: 2px solid red;
  padding: 15px;
  color: red;
  font-weight: bold;

}
