
.posted-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hidden-handle {
  display: none;
}

.tweet-article:hover .hidden-handle {
  display: flex;
  color: black;
}

.tweet-article:hover {
  box-shadow: 4px 4px lightslategray;
  filter: none;
}

.text {
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
  word-wrap: break-word;
}

.tweet-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
  border: 3px solid black;
  filter: blur(1px);
  
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.display-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.small-avatar {
  height: 40px;
  width: 40px;
}

.icons {
  display: flex;
  justify-content: space-between;
}
